body{
    background: darkorchid;
    padding: 0px;
    margin: 0px;
}

li {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}

li:first-child{
    margin-bottom: 30px;
    display: block;
}

li + li{
    background: lawngreen;
}

li + li + li{
      background: yellow;
}

li + li + li + li{
    background: deeppink;
}